In [82]:
import pandas as pd 
import numpy as np

# Data Visualization

In [83]:
# Visualisasi Data Frame 

data_kegiatan_mahasiswa = pd.read_csv('data/kegiatan_mahasiswa.csv')
data_krs_mahasiswa = pd.read_csv('data/krs_mahasiswa.csv')
data_mahasiswa = pd.read_csv('data/mahasiswa.csv')

print('============ Data Frame Kegiatan Mahasiswa ==============')

print(data_kegiatan_mahasiswa.head())
print(data_kegiatan_mahasiswa.info())

print('============ Data Frame KRS Mahasiswa ==============')

print(data_krs_mahasiswa.head())
print(data_krs_mahasiswa.info())


print('============ Data Frame  Mahasiswa ==============')

print(data_mahasiswa.head())
print(data_mahasiswa.info())

============ Data Frame Kegiatan Mahasiswa ==============
   npm_mahasiswa  bank_id                                      nama_kegiatan  \
0        2031038    10945    Webinar Series #3 : "Profesi Hukum Itu, Asyik!"
1        1931095     2154  Aesthetic Introduction to Literature Feast (Ae...
2        1931095     5036      Mentoring and Tutoring "Pyhton 101 - Part II"
3        2031140     3533  Ibadah Mahasiswa Baru (IMABA) Mahasiswa Kriste...
4        2031140     1972  Virtual Gathering Crown Of Glory 2020: Be Care...

  tingkat_kegiatan tanggal_kegiatan
0            lokal        11/7/2020
1            lokal       11/18/2019
2            lokal        9/21/2019
3            lokal         9/5/2020
4            lokal       10/17/2020
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12798 entries, 0 to 12797
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   npm_mahasiswa     12798 non-null  int64
 1   bank_id           12798 non-null  int64
 2   nama_kegiatan     12798 non-null  object
 3   tingkat_kegiatan  12798 non-null  object
 4   tanggal_kegiatan  12798 non-null  object
dtypes: int64(2), object(3)
memory usage: 500.1+ KB
None
============ Data Frame KRS Mahasiswa ==============
   npm_mahasiswa jenis_semester  tahun_semester kode_kelas kode_matkul  \
0        1931001         ganjil            2019      1BUMA     SI00194
1        1931001         ganjil            2019      1SIMA     SI00153
2        1931001         ganjil            2019      1VUMD     SI00192
3        1931001         ganjil            2019      1SIMA     SIL0085
4        1931001         ganjil            2019      1SIMA     SI00151

                          nama_matkul  sks_matakuliah  total_hadir  \
0                               Agama               2            0
1  Arsitektur dan Organisasi Komputer               3            0
2                    Bahasa Inggris I               2            0
3              Lab. Teknik Pemograman               1            0
4          Pengantar Sistem Informasi               3            0

   total_pertemuan  total_terlaksana  total_tidak_hadir kode_nilai  \
0                0                 0                  0          A
1                0                 0                  0          A
2                0                 0                  0          A
3                0                 0                  0          A
4                0                 0                  0          B

  kategori_matakuliah
0               Agama
1   Computer Hardware
2              Bahasa
3   Basic Programming
4           Manajemen
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31991 entries, 0 to 31990
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   npm_mahasiswa        31991 non-null  int64
 1   jenis_semester       31991 non-null  object
 2   tahun_semester       31991 non-null  int64
 3   kode_kelas           31991 non-null  object
 4   kode_matkul          31991 non-null  object
 5   nama_matkul          31991 non-null  object
 6   sks_matakuliah       31991 non-null  int64
 7   total_hadir          31991 non-null  int64
 8   total_pertemuan      31991 non-null  int64
 9   total_terlaksana     31991 non-null  int64
 10  total_tidak_hadir    31991 non-null  int64
 11  kode_nilai           29052 non-null  object
 12  kategori_matakuliah  31991 non-null  object
dtypes: int64(7), object(6)
memory usage: 3.2+ MB
None
============ Data Frame  Mahasiswa ==============
   npm_mahasiswa nama_mahasiswa   prodi_mahasiswa  angkatan_mahasiswa  \
0        1931173      Celine Te  Sistem Informasi                2019
1        1931001   Rido Renando  Sistem Informasi                2019
2        1931009  Richie Marlon  Sistem Informasi                2019
3        1931083    Elvin Whang  Sistem Informasi                2019
4        2031001  Robin Sunjaya  Sistem Informasi                2020

   ipk_mahasiswa status_mahasiswa  pembimbing_tugas_akhir
0           3.87            Lulus               5120028.0
1           3.72            Lulus               1170002.0
2           3.90            Lulus               5120028.0
3           3.68            Lulus               6200076.0
4           3.88            Aktif               9180074.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 673 entries, 0 to 672
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   npm_mahasiswa           673 non-null    int64
 1   nama_mahasiswa          673 non-null    object
 2   prodi_mahasiswa         673 non-null    object
 3   angkatan_mahasiswa      673 non-null    int64
 4   ipk_mahasiswa           670 non-null    float64
 5   status_mahasiswa        673 non-null    object
 6   pembimbing_tugas_akhir  636 non-null    float64
dtypes: float64(2), int64(2), object(3)
memory usage: 36.9+ KB
None

# Preprocessing

## Data Cleaning

###  Null Value

In [84]:
# Memeriksa nilai yang kosong 


print("========== Data Frame sebelum dibershikan===========")
print("========== Data Frame Kegiatan Mahasiswa ========")
print(data_kegiatan_mahasiswa.isnull().sum())
print("========== Data Frame KRS Mahasiswa ========")
print(data_krs_mahasiswa.isnull().sum())
print("========== Data Frame  Mahasiswa ========")
print(data_mahasiswa.isnull().sum())

# membersihkan nilai yang kosong

print("================ Data Frame setelah dibersihkan =========")

print('=============== Data Frame KRS Mahasiswa =================')
data_krs_mahasiswa_after_cleaning = data_krs_mahasiswa.dropna(subset=["kode_nilai"])
print(data_krs_mahasiswa_after_cleaning.isnull().sum())
print('=========== Data Frame Mahasiswa =========')
data_mahasiswa_after_cleaning = data_mahasiswa.dropna(subset=["ipk_mahasiswa" , "pembimbing_tugas_akhir"])
print(data_mahasiswa_after_cleaning.isnull().sum())

========== Data Frame sebelum dibershikan===========
========== Data Frame Kegiatan Mahasiswa ========
npm_mahasiswa       0
bank_id             0
nama_kegiatan       0
tingkat_kegiatan    0
tanggal_kegiatan    0
dtype: int64
========== Data Frame KRS Mahasiswa ========
npm_mahasiswa             0
jenis_semester            0
tahun_semester            0
kode_kelas                0
kode_matkul               0
nama_matkul               0
sks_matakuliah            0
total_hadir               0
total_pertemuan           0
total_terlaksana          0
total_tidak_hadir         0
kode_nilai             2939
kategori_matakuliah       0
dtype: int64
========== Data Frame  Mahasiswa ========
npm_mahasiswa              0
nama_mahasiswa             0
prodi_mahasiswa            0
angkatan_mahasiswa         0
ipk_mahasiswa              3
status_mahasiswa           0
pembimbing_tugas_akhir    37
dtype: int64
================ Data Frame setelah dibersihkan =========
=============== Data Frame KRS Mahasiswa =================
npm_mahasiswa          0
jenis_semester         0
tahun_semester         0
kode_kelas             0
kode_matkul            0
nama_matkul            0
sks_matakuliah         0
total_hadir            0
total_pertemuan        0
total_terlaksana       0
total_tidak_hadir      0
kode_nilai             0
kategori_matakuliah    0
dtype: int64
=========== Data Frame Mahasiswa =========
npm_mahasiswa             0
nama_mahasiswa            0
prodi_mahasiswa           0
angkatan_mahasiswa        0
ipk_mahasiswa             0
status_mahasiswa          0
pembimbing_tugas_akhir    0
dtype: int64

### Duplicate Value

In [85]:
#  memeriksa dan menghitung jumlah duplicate 

print("========= Jumlah Duplikat pada Data Frame =========")
print("============= Data Frame Kegiatan Mahasiswa ============")
print(data_kegiatan_mahasiswa.duplicated().sum())
print("================== Data Frame KRS Mahasiswa ==============")
print(data_krs_mahasiswa.duplicated().sum())
print("================== Data Frame  Mahasiswa ==============")
print(data_mahasiswa.duplicated().sum())

#  Membersihkand data yang duplikat 

print('================= Data Frame setelah menghapus duplikat ============')

data_kegiatan_mahasiswa_after_remove_duplicated = data_kegiatan_mahasiswa.drop_duplicates()
print(data_kegiatan_mahasiswa_after_remove_duplicated.duplicated().sum())

========= Jumlah Duplikat pada Data Frame =========
============= Data Frame Kegiatan Mahasiswa ============
68
================== Data Frame KRS Mahasiswa ==============
0
================== Data Frame  Mahasiswa ==============
0
================= Data Frame setelah menghapus duplikat ============
0

### Data Type Conversion

#### Mengubah Tipe Data dari Data Frame Kegiatan Mahasiswa

In [86]:
print("=============== Data Frame sebelum diubah tipe data ==============")
print(data_kegiatan_mahasiswa.info())
data_kegiatan_mahasiswa = data_kegiatan_mahasiswa.astype({
    "npm_mahasiswa" : "str",
    "bank_id" : "str"
})


print("================ Data Frame setelah diubah tipe data =========")
print(data_kegiatan_mahasiswa.info())

=============== Data Frame sebelum diubah tipe data ==============
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12798 entries, 0 to 12797
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   npm_mahasiswa     12798 non-null  int64
 1   bank_id           12798 non-null  int64
 2   nama_kegiatan     12798 non-null  object
 3   tingkat_kegiatan  12798 non-null  object
 4   tanggal_kegiatan  12798 non-null  object
dtypes: int64(2), object(3)
memory usage: 500.1+ KB
None
================ Data Frame setelah diubah tipe data =========
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12798 entries, 0 to 12797
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   npm_mahasiswa     12798 non-null  object
 1   bank_id           12798 non-null  object
 2   nama_kegiatan     12798 non-null  object
 3   tingkat_kegiatan  12798 non-null  object
 4   tanggal_kegiatan  12798 non-null  object
dtypes: object(5)
memory usage: 500.1+ KB
None

#### Mengubah TIpe Data dan Label Encoding dari Data Frame KRS Mahasiswa

##### Label Encoding

In [87]:
data_krs_mahasiswa['kode_nilai'] = data_krs_mahasiswa['kode_nilai'].replace('A' , 4)
data_krs_mahasiswa['kode_nilai'] = data_krs_mahasiswa['kode_nilai'].replace('B' , 3)
data_krs_mahasiswa['kode_nilai'] = data_krs_mahasiswa['kode_nilai'].replace('C' , 2)
data_krs_mahasiswa['kode_nilai'] = data_krs_mahasiswa['kode_nilai'].replace('D' , 1)
data_krs_mahasiswa['kode_nilai'] = data_krs_mahasiswa['kode_nilai'].replace('E' , 0)
data_krs_mahasiswa['kode_nilai'].fillna(0)

0        4
1        4
2        4
3        4
4        3
        ..
31986    3
31987    4
31988    3
31989    4
31990    4
Name: kode_nilai, Length: 31991, dtype: object

##### Mengubah Tipe Data

In [88]:
print("=============== Data Frame sebelum diubah tipe data ==============")
print(data_krs_mahasiswa.info())
data_krs_mahasiswa = data_krs_mahasiswa.astype({
    'npm_mahasiswa': 'str',
    'npm_mahasiswa': 'str',
    'tahun_semester' : 'str',
})


print("================ Data Frame setelah diubah tipe data =========")
print(data_krs_mahasiswa.info())

=============== Data Frame sebelum diubah tipe data ==============
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31991 entries, 0 to 31990
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   npm_mahasiswa        31991 non-null  int64
 1   jenis_semester       31991 non-null  object
 2   tahun_semester       31991 non-null  int64
 3   kode_kelas           31991 non-null  object
 4   kode_matkul          31991 non-null  object
 5   nama_matkul          31991 non-null  object
 6   sks_matakuliah       31991 non-null  int64
 7   total_hadir          31991 non-null  int64
 8   total_pertemuan      31991 non-null  int64
 9   total_terlaksana     31991 non-null  int64
 10  total_tidak_hadir    31991 non-null  int64
 11  kode_nilai           29052 non-null  object
 12  kategori_matakuliah  31991 non-null  object
dtypes: int64(7), object(6)
memory usage: 3.2+ MB
None
================ Data Frame setelah diubah tipe data =========
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31991 entries, 0 to 31990
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   npm_mahasiswa        31991 non-null  object
 1   jenis_semester       31991 non-null  object
 2   tahun_semester       31991 non-null  object
 3   kode_kelas           31991 non-null  object
 4   kode_matkul          31991 non-null  object
 5   nama_matkul          31991 non-null  object
 6   sks_matakuliah       31991 non-null  int64
 7   total_hadir          31991 non-null  int64
 8   total_pertemuan      31991 non-null  int64
 9   total_terlaksana     31991 non-null  int64
 10  total_tidak_hadir    31991 non-null  int64
 11  kode_nilai           29052 non-null  object
 12  kategori_matakuliah  31991 non-null  object
dtypes: int64(5), object(8)
memory usage: 3.2+ MB
None

#### Mengubah Tipe Data dari Data Frame  Mahasiswa

In [89]:
print("=============== Data Frame sebelum diubah tipe data ==============")
print(data_mahasiswa.info())
data_mahasiswa = data_mahasiswa.astype({
    "npm_mahasiswa" : "str",
    "angkatan_mahasiswa" : "str",
    "pembimbing_tugas_akhir": "str"
})


print("================ Data Frame setelah diubah tipe data =========")
print(data_mahasiswa.info())

=============== Data Frame sebelum diubah tipe data ==============
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 673 entries, 0 to 672
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   npm_mahasiswa           673 non-null    int64
 1   nama_mahasiswa          673 non-null    object
 2   prodi_mahasiswa         673 non-null    object
 3   angkatan_mahasiswa      673 non-null    int64
 4   ipk_mahasiswa           670 non-null    float64
 5   status_mahasiswa        673 non-null    object
 6   pembimbing_tugas_akhir  636 non-null    float64
dtypes: float64(2), int64(2), object(3)
memory usage: 36.9+ KB
None
================ Data Frame setelah diubah tipe data =========
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 673 entries, 0 to 672
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   npm_mahasiswa           673 non-null    object
 1   nama_mahasiswa          673 non-null    object
 2   prodi_mahasiswa         673 non-null    object
 3   angkatan_mahasiswa      673 non-null    object
 4   ipk_mahasiswa           670 non-null    float64
 5   status_mahasiswa        673 non-null    object
 6   pembimbing_tugas_akhir  673 non-null    object
dtypes: float64(1), object(6)
memory usage: 36.9+ KB
None